<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [29]:
import pandas as pd

Load the dataset into a dataframe.

In [30]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [31]:
duplicates = df.duplicated().sum()

print(f"The number of duplicate rows in the DataFrame is: {duplicates}")

The number of duplicate rows in the DataFrame is: 154

In [32]:
num_duplicate_respondents = df['Respondent'].duplicated().sum()
print(f"The number of duplicates in the column 'Respondent'is: {num_duplicate_respondents}")

The number of duplicates in the column 'Respondent'is: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [33]:
df_clean = df.drop_duplicates()

print(f"Number of rows before removing duplicates: {df.shape[0]}")
print(f"Number of rows after removing duplicates: {df_clean.shape[0]}")

Number of rows before removing duplicates: 11552
Number of rows after removing duplicates: 11398

Verify if duplicates were actually dropped.

In [34]:
duplicates_check = df_clean.duplicated().sum()
print(f"Duplicates check has found a total of: {duplicates_check} duplicates.")

Duplicates check has found a total of: 0 duplicates.

## Finding Missing values

Find the missing values for all columns.

In [35]:
missing_values = df_clean.isnull().sum()

print(missing_values)

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

In [37]:
num_missing_edlevel = df_clean['EdLevel'].isnull().sum()

print(f"The number of blank rows in the 'EdLevel' column after removing duplicates is: {num_missing_edlevel}")

The number of blank rows in the 'EdLevel' column after removing duplicates is: 112

In [38]:
num_missing_country = df_clean['Country'].isnull().sum()

print(f"The number of blank rows in the 'EdLevel' column after removing duplicates is: {num_missing_country}")

The number of blank rows in the 'EdLevel' column after removing duplicates is: 0

Find out how many rows are missing in the column 'WorkLoc'

In [12]:
missing_workloc = df['WorkLoc'].isnull().sum()

print(f"The number of missing values in the 'WorkLoc' column is: {missing_workloc}.")

The number of missing values in the 'WorkLoc' column is: 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [13]:
workloc_counts = df['WorkLoc'].value_counts()

print(workloc_counts)

WorkLoc
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [14]:
most_frequent_workloc = df['WorkLoc'].mode()[0]

print(f"The most frequent value in the 'WorkLoc' column is: {most_frequent_workloc}")

The most frequent value in the 'WorkLoc' column is: Office

In [39]:
most_frequent_employment = df['Employment'].mode()[0]

print(f"The most frequent value in the 'WorkLoc' column is: {most_frequent_employment}")

The most frequent value in the 'WorkLoc' column is: Employed full-time

In [40]:
undergrad_major_count = df['UndergradMajor'].value_counts()
min_category = undergrad_major_count.idxmin()

print(f"The category with the minimum number of rows in the 'UndergradMajor' column is: {min_category}")

The category with the minimum number of rows in the 'UndergradMajor' column is: A health science (ex. nursing, pharmacy, radiology)

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [22]:
df['WorkLoc'].fillna(most_frequent_workloc, inplace=True)
print(df["WorkLoc"])

0                                                  Home
1                                                Office
2                                                  Home
3                                                  Home
4        Other place, such as a coworking space or cafe
                              ...
11547                                              Home
11548                                              Home
11549                                            Office
11550                                              Home
11551                                            Office
Name: WorkLoc, Length: 11552, dtype: object

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [24]:
missing_workloc_after_imputation = df["WorkLoc"].isnull().sum()

print(f"The number of missing values in the 'WorkLoc' column after imputation: {missing_workloc_after_imputation}")

The number of missing values in the 'WorkLoc' column after imputation: 0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [41]:
compfreq_categories = df['CompFreq'].unique()

print("Categories in the 'CompFreq' column:")
print(compfreq_categories)

Categories in the 'CompFreq' column:
['Yearly' 'Monthly' 'Weekly' nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [42]:
df.reset_index(drop=True, inplace=True)
  
df.loc[df['CompFreq'] == 'Monthly', 'NormalizedComp'] = df['CompTotal']*12
df.loc[df['CompFreq'] == 'Yearly', 'NormalizedComp'] = df['CompTotal']
df.loc[df['CompFreq'] == 'Weekly', 'NormalizedComp'] = df['CompTotal']*52
df.loc[:,['CompFreq', 'CompTotal', 'NormalizedComp']]

      CompFreq  CompTotal  NormalizedComp
0       Yearly    61000.0         61000.0
1       Yearly   138000.0        138000.0
2       Yearly    90000.0         90000.0
3      Monthly    29000.0        348000.0
4       Yearly    90000.0         90000.0
...        ...        ...             ...
11547   Yearly   130000.0        130000.0
11548   Yearly    74400.0         74400.0
11549   Yearly   105000.0        105000.0
11550   Yearly    80000.0         80000.0
11551      NaN        NaN             NaN

[11552 rows x 3 columns]

In [43]:
df.NormalizedComp.median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).